/* Custom styles for the website */
body {
    padding-top: 20px;
}

.navbar-brand {
    font-size: 24px;
}

#navbar-menu {
    background-color: #f8f8f8;
}

.navbar-nav li a {
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: #e7e7e7;
    margin-bottom: 1px;
}

.section-content {
    height: 1000px;
    background-color: #f4f4f4;
    padding: 50px;
    margin-top: 20px;
}
